/*INICIO DEL IMPORT*/
/*NOSOTROS*/
.mainNosotros {
  margin: 150px 1px; }

.claseAos1 {
  overflow: hidden; }

/* GALERIA, USANDO GRID */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9"; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s linear; }

.gallery__img:hover {
  transform: scale(1.02); }

.popup-imagen {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none; }
  .popup-imagen span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100; }
  .popup-imagen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover; }

@media screen and (max-width: 768px) {
  .popup-imagen img {
    width: 95%; } }

@media screen and (max-width: 500px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto9"; }
  .claseFoto1 {
    grid-area: foto1; }
  .claseFoto2 {
    grid-area: foto2; }
  .claseFoto3 {
    grid-area: foto3; }
  .claseFoto4 {
    grid-area: foto4; }
  claseFoto5 {
    grid-area: foto5; }
  .claseFoto6 {
    grid-area: foto6; }
  .claseFoto7 {
    grid-area: foto7; }
  .claseFoto7 {
    grid-area: foto8; }
  .claseFoto7 {
    grid-area: foto9; } }

/*CONTACTO*/
.formulario {
  margin: 50px 1px 50px 1px; }

.btn-primary {
  background-color: rgba(24, 131, 24, 0.575);
  border-color: rgba(24, 131, 24, 0.575);
  transition: all 0.25s ease-in-out; }

.btn:first-child:hover, :not(.btn-check) + .btn:hover {
  background-color: rgba(20, 109, 20, 0.575);
  border-color: rgba(20, 109, 20, 0.575);
  transform: scale(0.9); }

/*MAP GET*/
/*DECLARAR MAPA*/
/*CLASES*/
.cajaMap1, .cajaMap2 {
  color: #163253;
  text-align: center; }

.cajaP1, .cajaP2 {
  color: #163253;
  font-size: 1.25rem;
  font-weight: 300; }

/*EXTEND*/
.cajaMap2 {
  color: #294464; }

.cajaP2 {
  color: #294464; }

/*MIXINS*/
/*CLASE REDES ARMADA EN MAIN.SCSS CON UN INCLUDE*/
/*FIN DEL IMPORT*/
/* COLORES */
body {
  background-color: #fefae0; }

.bg-verdolaga {
  background-color: #E9EDC9; }

/*FORMULARIO*/
form {
  text-align: center; }

/* PARA EL NAV */
.headerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .headerLogo img {
    margin: 1px 10px;
    width: 200px;
    height: 150px; }
  .headerLogo ul {
    margin: 5px 30px 5px 10px;
    padding: 1px 1px 1px 1px; }
    .headerLogo ul li {
      display: inline-block;
      margin: 5px;
      padding: 1px;
      font-size: 20px; }

/*REDES*/
/*TRAIDA DE VARIABLES*/
.cajaFlex {
  display: flex;
  justify-content: space-between; }

.cajaFlecha {
  position: fixed;
  right: 0;
  bottom: 10%; }
  .cajaFlecha img {
    width: 35px; }

.redesPN {
  color: #355070;
  margin: 1px 1px 3px 3px; }

.redesN img {
  width: 50px;
  margin: 1px 1px 3px 3px; }

.redesWhatsapp img {
  width: 50px;
  margin: 1px 10px 3px 3px; }

/* PARA TABLET EN PAGINA NOSOTROS, SERVICIOS, GALERIA Y CONTACTO-- 768px */
@media screen and (max-width: 768px) {
  /*REDES*/
  .redesPN {
    font-size: 20px; }
  .redesN img {
    width: 60px; }
  /* GALERIA */
  .galeria img {
    width: 400px;
    height: 200px;
    margin: 10px; }
  .cajaGrid {
    display: flex;
    flex-direction: column; }
  .cajaFlex {
    justify-content: space-evenly; } }

/* PARA CELULAR EN PAGINAS INDEX, NOSOTROS, GALERIA Y CONTACTO-- 500px */
@media screen and (max-width: 500px) {
  /*GALERIA*/
  .cajaGrid {
    margin: 0; }
  /*TODOS LOS FOOTER*/
  .footer__nosotros {
    margin: 100px 1px 1px 1px;
    font-size: 100px; }
  /*REDES*/
  .redesPN {
    color: #355070;
    font-size: 20px; }
  .redesN img {
    width: 50px;
    margin: 10px 1px 1px 10px; }
  .redesWhatsapp img {
    width: 50px;
    margin: 10px 10px 3px 3px; }
  /*CONTACTO*/
  .formulario {
    margin: 150px 1px 1px 1px; } }
