

/* COLORES */
body{
    background-color: #fefae0;
}

.bg-verdolaga{
    background-color: #E9EDC9
}

h1{
    text-align: center;
    color: #355070;
    font-size: 40px;
}

/*FORMULARIO*/

form{
    text-align: center;
}

/* PARA EL NAV */

.headerLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        margin: 1px 10px;
        width: 200px;
        height: 150px;
    }
    ul{
        margin: 5px 30px 5px 10px;
        padding: 1px 1px 1px 1px;
        li{
            display: inline-block;
            margin: 5px;
            padding: 1px;
            font-size: 20px;
            }    
    }
}

/*REDES*/

.redesPN{
    color: #355070;
    margin: 1px 1px 3px 3px
}
.redesN{
    img{
width: 50px;
margin: 1px 1px 3px 3px
}
}


@import "index";
@import "nosotros";
@import "servicios";
@import "galeria";
@import "contacto";



/* PARA TABLET EN PAGINA NOSOTROS, SERVICIOS, GALERIA Y CONTACTO-- 768px */

@media screen and (max-width: 768px){

/*REDES*/

.redesPN{
    font-size: 20px;
}

.redesN img{
width: 60px;
}

  
/* GALERIA */

.galeria img{
    width: 400px;
    height: 200px;
    margin: 10px;
}

.cajaGrid{
    display: flex;
    flex-direction: column; 
}

}


/* PARA CELULAR EN PAGINAS INDEX, NOSOTROS, GALERIA Y CONTACTO-- 500px */

@media screen and (max-width: 500px){

    /*GALERIA*/
    .cajaGrid{
        margin: 0;
    }

    /*TODOS LOS FOOTER*/
    .footer__nosotros{
        margin: 100px 1px 1px 1px;
        font-size: 100px;
    }

    /*REDES*/
    .redesPN{
        color: #355070;
        font-size: 20px;
    }
    .redesN img{
    width: 50px;
    margin: 10px 1px 1px 1px;
    }
    
    /*CONTACTO*/
    .formulario{
        margin: 150px 1px 1px 1px;
    }
}